#mapContainer {
  align-self: stretch;
  width: 100%;
  // height: 100%;
  font-family: inherit;
  // background: $bg-footer-light;
  .body--light & {
    // background: $bg-footer-light;
  }
  .body--dark & {
    // background: $bg-footer-dark;
  }
  .leaflet {
    &-control-attribution {
      display: flex;
      background: transparent;
      padding: 0.25rem 1rem;
      a {
        display: block;
        font-size: 0.625rem;
        // color: $primary;
        line-height: 1;
        margin: 0 0.25rem;
        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          text-decoration: none;
          // color: $accent;
        }
      }
    }

    &-popup {
      &-content {
        // color: $text-default-color-light;
        .body--light & {
          // color: $text-default-color-light;
        }
        .body--dark & {
          // color: $text-default-color-dark;
        }
        &-wrapper {
          // @extend .bg-footer;
        }
        &-title {
          // @extend .b-table--cell--title;
          margin-bottom: 0.5rem;
        }
        &-caption {
          // @extend .b-table--cell--caption;
          margin-top: 0;
        }
      }
      &-tip {
        // @extend .bg-footer;
      }
    }
  }
}
